<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	 	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://192.168.0.110:5432/saeppers</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Atributo.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Avaliavel.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Nota.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Parecer.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Radoc.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Regra.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Resolucao.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Tipo.hbm.xml" />
		<mapping resource="br/ufg/inf/es/saep/sandbox/dominio/Valor.hbm.xml" />
	</session-factory>
</hibernate-configuration>